<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menu</title>
    <link rel="stylesheet" href="../../static/css/header.css" />
    <link rel="icon" href="/ChatApp/static/img/favicon.png" />
  </head>
  <body>
    <input type="checkbox" id="drawer-toggle" hidden />
    <header class="header">
        <div class="header-contener">
             <img src="../../static/img/戻る.png" alt="戻る" class="back"/>
             <img src="../../static/img/Tabi talk 1.svg" alt="Tabi talkロゴ" class="header-img"/>
             <p class="user">ユーザー名</p>
            <label for="drawer-toggle" class="drawer_btn"> 
                <img src="../../static/img/ハンバーガーメニュー.png" alt="ハンバーガー" class="hnberger"/>
                <img src="../../static/img/閉じる.png" alt="戻る" class="back_png"/>
            </label>
        
            <nav class="drawer_nav">
                <div class="nav-left"></div>
                <div class="nav-right">
                    <ul>
                        <li><a href="/home">ホーム</a></li>
                        <li><a href="/logout">ログアウト</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
 </body>
