{% extends 'auth/base.html' %}
{% block title %}
<title>login</title>
{% endblock %}
{% block body %}
<div class="auth-wrapper">
  <div class="auth-container">
    <img 
    class="auth-main-logo"
    src="../../static/img/Tabi talk ロゴ.png" alt="ロゴ">

    <form class="auth-form" method="post" action="{{ url_for('login_logout.login_process') }}">
      <h1 class="auth-title">ログイン</h1>
        <div class="auth-form-inputs">
          <label for="email-input">メールアドレス</label><br>
          <input 
          type="email"
          placeholder="メールアドレス"
          name="email"
          id="email-input">
        </div>

        <div class="auth-form-inputs">
          <label for="pasword-input">パスワード</label><br>
          <input 
          type="password"
          placeholder="パスワード"
          name="password"
          id="pasword-input">
        </div>
        
        <div class="auth-button-container">
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
          <button class="auth-button" type="submit">ログイン</button>
          <a class="switch-auth-mode" href="{{ url_for('signup.signup_view') }}">
            新規登録はこちら
          </a>
        </div>
    </form>
  </div>
</div>
{% endblock %}