body {
  margin: 0;
  background-color: #7dd3dc;
  font-size: 16px;
}

.back, .hnberger {
    cursor: pointer;
    max-width: 56px;
    height: 32px;
    width: 32px;
    object-fit: contain;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 16px;
  
}

.header-left, .header-right {
    align-items: center;
    flex: 0 0 auto;
    display: flex; 
}

.header-contener {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.header-center {
  flex: 1;
  text-align: center;
}

.header-img {
    display: none;
    align-items: center;
}

#drawer-toggle:checked ~ header .header-img {
    display: block;
    width: 30vw;
    max-width: 147px;
}

.channel {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 8vw;
}

@media (max-width: 600px) {
.drawer_nav {
  display: flex;
  height: 100vh;
  background-color: #C0E6EA;
  position: fixed;
  top: 90px;
  right: -100%;
  left: auto;
  width: 75%;
  transition: right 0.5s ease;
  z-index: 9999;
}
}

.nav-right {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drawer-toggle:checked ~ header .drawer_nav {
  right: 0;
}

#drawer-toggle:checked ~ header .drawer_btn .hnberger {
    display: none;
}

#drawer-toggle:checked ~ header .user {
  display: none;
}

#drawer-toggle:checked ~ header .back {
    display: none;
}

#drawer-toggle:checked ~ header .drawer_btn .back_png {
    display: inline;
    height: auto;
    width: 10vw;
    max-width: auto;
}

#drawer-toggle:checked ~ header .channel {
  display: none;
}

.back_png {
    display: none;
}

#drawer-toggle:checked + .drawer_btn .back {
    display: none;
}

.drawer_nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px ;
}

#drawer-toggle {
  display: none;
  width: 273px;
  height: 160px;
}

.drawer_btn {
  display: inline-block;
  width: auto;   
  height: 24px;    
  padding: 8px 32px;
  cursor: pointer;
}

.nav-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-right li {
  margin: 32px 0;
  text-align: center;
}

.nav-right a {
  text-decoration: none;
  color: #0F5A5D;
  font-size: 5vw;
}

.chat {
    background-color: #7dd3dc;
}

.user {
    margin: 0;
    text-align: center;  
}

body {
    margin: 0;
    background-color: #7dd3dc;
}

.submission_form {
    background-color: white;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 8px;
  
}

.submission {
  width: 48px;
  height: auto;
  margin: 8px 16px;
  padding: 0;
  align-items: center;
}

.chat-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 8px;
  font-size: 16px;
}

.chat-form input[type="text"] {
  display: flex;
  flex-direction: center;
  align-items: center;
  flex: 1 1 auto;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 24px;
}

.send-btn {
  padding: 0;
  border: none;
  box-shadow: none;
  outline: none;
  background: white;
  cursor: pointer;
}

.chat-container {
  display: flex;
  flex-direction: column;

}

.chat-container > div {
  max-width: 60%;
  padding: 16px 24px;
  border-radius: 10px;
  margin: 24px;
  position: relative;
}

@media (max-width: 600px) {
  .chat-container > div {
    max-width: 80%;
    padding: 12px 16px;
  }
}

.othercomment {
  background: #1A8BA6;
  color: white;
  align-self: flex-start;
  position: relative;
}

.othercomment .name2 {
  font-size: 2.5vw;
  color: #333;
  position: absolute;
  top: -16px;
  left: -4px;
}

.othercomment::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #1A8BA6 transparent transparent;
}


.comment {
  background: #1A8BA6;
  color: white;
  align-self: flex-start;
  position: relative;
}

.comment::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #1A8BA6 transparent transparent;
}

.comment .name1 {
  position: absolute;
  top: -16px;
  left: -3px;
  font-size: 2.5vw;
  color: #333;
}

.threecomment {
  border-color: #1A8BA6;
  background: #087E83;
  color: white;
  align-self: flex-end;
  position: relative;
}
 
.threecomment .delete {
  color: black;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: -12px;
  cursor: pointer;
}

.threecomment::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -20px;
  border-width:  10px;
  border-style: solid;
  border-color: transparent transparent transparent #087E83;
}