body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.back {
    cursor: pointer;
    width: 56px;
}

.header-contener {
    position: relative;
    align-items: center;
    max-width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
}

.hnberger {
    height: 40px;
    width: auto;
}

.header-img {
    width: 30vw;
    max-width: 172px;

}

.user {
    font-size: 2vh;
    white-space: nowrap;
}

.drawer_nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-color: #C0E6EA;
  position: fixed;
  top: 115px;
  right: -100%;
  left: auto;
  width: 75%;
  transition: right 0.5s ease;
}



.nav-right {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0;
}

#drawer-toggle:checked ~ header .drawer_nav {
  right: 0;
}

#drawer-toggle:checked + header .drawer_btn .hnberger {
    display: none;
}

#drawer-toggle:checked ~ header .user {
  display: none;
}

#drawer-toggle:checked ~ header .back {
    display: none;
}

#drawer-toggle:checked ~ header .drawer_btn .back_png {
    display: inline;
    height: 48px;
    width: auto;
}

.back_png {
    display: none;
}

#drawer-toggle:checked + .drawer_btn .back {
    display: none;
}

.drawer_nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px ;
}

#drawer-toggle {
  display: none;
  width: 273px;
  height: 160px;
}

.drawer_btn {
  display: inline-block;
  width: auto;   
  height: 24px;    
  padding: 8px 32px;
  cursor: pointer;
}

.nav-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-right li {
  margin: 32px 0;
  text-align: center;
}

.nav-right a {
  text-decoration: none;
  color: #0F5A5D;
  font-size: 6vw;
}