{% extends 'base.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}
{% block title %}
<title>chat</title>
{% endblock %}
{% block body %}

{% include 'header.html' %}
<div class="home-wrapper">
    <input type="checkbox" id="drawer-toggle" hidden />
    <header class="header">
        <div class="header-contener">
            <div class="header-left">
                <img src="{{ url_for('static', filename='img/戻る.png') }}" ...>
            </div>

             <div class="header-center">
                <img src="{{ url_for('static', filename='img/Tabi talk 1.svg') }}" alt="Tabi talkロゴ" class="header-img"/>
                <p class="channel">チャンネル名</p>
                <p class="user">ユーザー名</p>
             </div>   

             <div class="header-right">
                <label for="drawer-toggle" class="drawer_btn"> 
                    <img src="{{ url_for('static', filename='img/ハンバーガーメニュー.png') }}" alt="ハンバーガー" class="hnberger"/>
                    <img src="{{ url_for('static', filename='img/閉じる.png') }}" alt="閉じる" class="back_png"/>
                </label>
             </div>    
        
            <nav class="drawer_nav">
                <div class="nav-right">
                    <ul>
                        <li><a href="/home">ホーム</a></li>
                        <li><a href="/logout">ログアウト</a></li>
                    </ul>
                </div>
            </nav>
        </div>
 </header>
    <main>
        <div class="chat-container">
            <div class="comment">
                <span class="name1">トラベル太</span>
                <p>こんにちは</p>            
            </div>

            <div class="othercomment">
                <span class="name2">トラベル美</span>
                <p>はじめまして</p>
            </div>

            <div class="threecomment">
                <span class="delete">削除</span>
                <p>はじめまして</p>
            </div>
        </div>    
         <div class="submission_form">
            <form class="chat-form" action="#" method="post">
                <input type="text" name="message" placeholder="メッセージを入力..." required>
                <button type="submit" class="send-btn">
                    <img src="{{ url_for('static', filename='img/送信アイコン.png') }}" alt="送信" class="submission"/>
                </button>    
            </form> 
         </div>
          
    </main>
 {% endblock %}
