{% extends 'base.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}
{% block title %}
<title>chat</title>
{% endblock %}

{% block body %}
<div class="chat-wrapper">
  {% include 'header.html' %}
  <main>

  <!-- ======== チャット画面 ======== -->
     
    <div class="chat-container">
      <!-- メッセージが0件ではない（存在する）ときに処理を続ける -->
      {% if messages|length > 0 %}
        <!-- messagesリストの値をmassageに代入するループ -->
        {% for messages in messages %}
          <!-- 渡されたIDとユーザIDが一致すればmassages-self（自身）として処理 -->
          {% if messages.user_id == user_id %}
            <div class="massages-self">
              <div class="bubble">
                <p>{{ messages.message }}</p>
              </div>
              <button id="openModal" class="delete">削除</button>
            </div>

              <div id="modalDelete" class="modal">
                <div class="modal-content">
                  <p id="confirm">このメッセージを削除しますか？</p>
                  <p id="u_msg">{{messages.message}}</p>
                  <form
                  class="delete-form"
                  action="{{ url_for( 'chat.delete_messages', channel_id=channels.channel_id, message_id=messages.message_id )}}"
                  method="post">
                    <button id="delete" type="submit">削除</button>
                  </form>
                  <button id="cancel">キャンセル</button>
                </div>
              </div>

                <!-- <form
                class="delete-form"
                action="{{ url_for( 'chat.delete_messages', channel_id=channels.channel_id, message_id=messages.message_id )}}"
                method="post">
                  <button id="openModal" class="delete" type="submit">削除</button>
                </form> -->
          {% else %}
            <div class="massages-other">
              <p class="name">{{ messages.user_name }}</p>
              <div class="bubble">
                <p>{{ messages.message }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <p id="no-message">まだメッセージがありません</p>
      {% endif %}
    </div>

  <!-- ======== 送信フォーム ======== -->

      <div class="submission_form">
        <form class="chat-form" action="{{ url_for( 'chat.create_messages', channel_id=channels.channel_id )}}" method="post">
          <input type="text" name="message" placeholder="メッセージを入力..." required>
          <button type="submit" class="send-btn">
            <img src="{{ url_for('static', filename='img/送信アイコン.png') }}" alt="送信" class="submission"/>
          </button>    
        </form> 
      </div>

  </main>
</div> 
{% block scripts %}
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
<!-- {% include 'chat/modal.html' %} -->
{% endblock %}