{% extends 'base.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/channels.css') }}">
{% endblock %}
{% block title %}
<title>channels</title>
{% endblock %}

{% block body %}

<div class="home-wrapper">
  {% include 'header.html' %}
  <main>
    <div class="main-contents">
      <div class="area-name">
        {{ areas.area_name }}
      </div>
      <div class="prefectures">
        {% for channels in channels %}
        <a href="{{ url_for( 'chat.chat_view', channel_id=channels.channel_id )}}">{{ channels.prefecture }}</a>
        {% endfor %}
      </div>
    </div>
  </main>
</div>
{% endblock %}